<div class=" mb-4 project">
  <div >
    <h2>
      {{post.post_title}}
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date_posted}}</p>
  </div>
  <div >
    <p>
      {{post.post_content}}
    </p>
  </div>
</div>
<div>
  {{#if logged_in}}
        <div class="row mt-4">
  <div class="col-md-6">
    <h3>Write a new comment:</h3>
   <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content">Comment:</label>
        <textarea class="form-input" id="comment-content" name="comment-content">Share your opinion!</textarea>
      </div>
      <div class="form-group">
        <p name="post_id" id="post_id">{{post.id}}</p>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
        {{/if}}
</div>
<div>
  <h3>Comments</h3>
  {{#each comments as |comment|}}
  <div>
  <h6>{{comment.user.username}} on {{format_date comment.date_posted}}</h6>
  <p>{{comment.comment_content}}</p>
</div>
{{/each}}
</div>

<script src="/js/post.js"></script>
